.my-footer{
    /* background: #f2f2f2; */
    margin-bottom: -100px;
    height:100px;
    font-size:15px;
}

.footer-divide{
    height: 1px;
    border-bottom: 1px solid #dbdbdb;
}
.home-footer{
    display: block;
    /* background: #f2f2f2; */
    text-align: center;
    color:#727374;
    padding-top:20px;
    height: 100%;
}

a{
    text-decoration: none;
    outline: none;
    -moz-outline-style: none;
    color:#727374;
}

.icp-link{
    display: block;
    margin-top:10px;
}