/*home页*/
#page {
  display: block;
  width: 100%;
  min-height: calc(100vh - 280px);
  margin-top:80px;
}

.headertop {
  position: relative;
  overflow: hidden;
  margin-top: 80px;
}

#centerbg {
  width: 100%;
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -2;
}

#centerbg .test{
  width:70%;
  height: 750px;
  margin-left:15%;
  /* background: rgba(83, 83, 83, 0.15);  */
  /*background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3) 80%, rgba(255, 255, 255, 0.7) 100%);
  /* border: 1px solid rgba(146, 146, 146, 0.8); */
  z-index: -1;
}


.slant-left {
  background: #fff;
  width: 101%;
  position: absolute;
  bottom: -80px;
  right: 48%;
  height: 200px;
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  transform: rotate(6deg);
}

.slant-right {
  background: #fff;
  width: 101%;
  position: absolute;
  bottom: -80px;
  left: 48%;
  height: 200px;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  transform: rotate(-6deg);
}


.own-panel {
  position: relative;
  max-width: 800px;
  padding: 0 10px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}

.own-panel img {
  width: 80px;
  height: 75px;
  border-radius: 50%;
  /* border: 3px solid rgba(150, 147, 147, 0.3); */
}

.own-info {
  width: 60%;
  margin: auto;
  font-size: 20px;
  color: rgb(255, 255, 255);
  /* background: rgba(71, 71, 71, 0.726); */
  padding: 20px 30px;
  margin-top: 30px;
  font-family: miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, sans-serif;
  letter-spacing: 1px;
  line-height: 30px;
}

.own-info p {
  margin: 0
}

.own-social {
  height: 32px;
  margin-top: 30px;
  margin-left: 10px;
  list-style: none;
  display: inline-block;
  font-family: miranafont, "Hiragino Sans GB", STXihei, "Microsoft YaHei", SimSun, sans-serif;
}

.own-social img {
  height: 25px;
  width: 25px;
  background: rgba(255, 255, 255, 1);
  border: 3px solid rgba(255, 255, 255, 0.3);
}

.own-social li {
  float: left;
  margin-right: 10px
}

.recommend {
  display: block;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
  height: 340px;
}

.recommend h3 {
  font-size: 15px;
  color: #727374;
  padding-bottom: 15px;
  font-weight: normal;
  border-bottom: 1px dashed #c7c8c9;
}

.recommend-one {
  box-sizing: border-box;
  margin-top: 15px;
  width: 32%;
  margin-left: 0.5%;
  height: 230px;
  background-size: cover;
  vertical-align: top;
  border-radius: 2%;
  border:1px solid #eaeaeb;
  float:left;

}

.recommend-two {
  box-sizing: border-box;
  margin-top: 15px;
  width: 32%;
  height: 230px;
  margin-left: 1%;
  background-size: cover;
  vertical-align: top;
  border-radius: 2%;
  border:1px solid #eaeaeb;
  float:left;
}

.recommend-three {
  box-sizing: border-box;
  margin-top: 15px;
  width: 32%;
  height: 230px;
  margin-left: 1%;
  background-size: cover;
  border-radius: 2%;
  border:1px solid #eaeaeb;
  float:left;
}

.clearfix{overflow:auto;_height:1%}/*浮动闭合 _height针对ie6,好神奇*/

.recommend span {
  /* position: absolute; */
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 230px;
  background: rgb(255, 255, 255);
  color: rgb(146, 140, 140);
  font-size: 16px;
  overflow: hidden;
  opacity: 0;
}


.foverlay {
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.recommend-one:hover span {
  opacity: 0.7;
}

.recommend-two:hover span {
  opacity: 0.7;
}

.recommend-three:hover span {
  opacity: 0.7;
}

@media (max-width: 991px) {
  /* .recommend {
    display: none;
  } */
}

.recent {
  display: block;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

.recent h3 {
  font-size: 15px;
  color: #727374;
  padding-bottom: 15px;
  font-weight: normal;
  border-bottom: 1px dashed #c7c8c9;
}

.recent .recent-articles {
  margin-top: 25px;
  display: block;
}

.recent .recent-articles ul,
li {
  padding: 0;
  margin-top: 0;
  list-style-type: none;
}

.recent .recent-articles ul>li{
  display: block;
  /* padding:15px;
  margin-bottom: 20px;
  border: 1px dashed #59838a;
  border-radius: 15px; */
}

.recent .recent-articles .title {
  margin-top:20px;
  display: block;
  width: 100%;
  font-size: 19px;
  color: #505152;
  /* line-height: 30px; */
  font-weight: 200;
}

.recent .t-classification {
  display: block;
  word-wrap: break-word;
  color:#5e9be0;
  text-align: center;
}

.recent .title .title-content {
  display: inline-block;
  word-wrap: break-word;
  font-weight: 550;
  color:#737374;
}

.recent .content{
  min-height: 50px;
  text-indent: 2em;
}

.recent .content,.article-footer{
  display: block;
  margin-top:18px;
  color: #727374;
  font-weight: 200;
}

.recent .article-footer{
  text-align: right;
}

.recent .f-classification,.f-time,.eye,.message{
   display: inline-block;
   font-size:15px;
}

.recent .f-time,.eye,.message{
  margin-left:15px;
}

.recent .divide{
   display: block;
   width:70%;
   margin-left:15%;
   margin-top:30px;
   border-bottom:1px dashed #c7c8c9;
}

.recent .footer-divide{
  display: block;
  margin-top:5%;
  width:100%;
  border-bottom:1px solid #eaeaeb;
}

.link-class{
  text-decoration: none;
}