@font-face {  
    font-family: ali-light;
    src: url('webfont.ttf');
    font-weight: normal;  
    font-style: normal;  
} 

@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('//at.alicdn.com/t/webfont_r67ai18xks.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/webfont_r67ai18xks.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/webfont_r67ai18xks.woff2') format('woff2'),
     /*url('//at.alicdn.com/t/webfont_r67ai18xks.woff') format('woff'), */
    chrome、firefox
    url('//at.alicdn.com/t/webfont_r67ai18xks.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/webfont_r67ai18xks.svg#AlibabaPuHuiTiM') format('svg'); /* iOS 4.1- */
  }
